version: "3.8"

services:
  api:
    build: ./api
    container_name: api
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgresql+psycopg2://appuser:apppassword@postgres:5432/appdb
      REDIS_URL: redis://redis:6379/0

  worker:
    build: ./worker
    container_name: worker
    depends_on:
      - redis
      - postgres
    command: celery -A app.celery_app.celery_app worker --loglevel=info
    environment:
      DATABASE_URL: postgresql+psycopg2://appuser:apppassword@postgres:5432/appdb
      REDIS_URL: redis://redis:6379/0

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: appdb
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
